table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

table td {
    word-break:break-all;
}
table th {
    word-break:break-all;
}


tbody, thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

* {box-sizing:border-box; border-collapse:collapse;}

thead {
    display: block;
    position: sticky;
    top: 20px;
    background-color: lemonchiffon;
}