<div>
  <li *ngIf="error" class="list-group-item list-group-item-danger align-content-center">{{error}}</li>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th [ngClass]="" disabled *ngFor="let i of arrayOfKeys">{{i | uppercase}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of tableData">
          <td *ngFor="let i of arrayOfKeys">{{d[i]}}</td>
        </tr>
      </tbody>
    </table>
  <button (click)="handleClick()">CLICK ME</button>
</div>
